.PizzaPreview {
  flex: 0 0 350px;
  display: flex;
  flex-wrap: wrap;
  /* margin-bottom: 1rem; */
  justify-content: center;

}
.pizza {
  width: 350px;
  height: 100%;
  min-height: 300px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  /* border-radius: 100%; */
  background-color: 
  pink;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding-top: 15px;
}
.ingredients {
  width: 330px;
  height: 330px;
  /* border-radius: 100%; */
  position: relative;
  display: flex;
  justify-content: center;
}
.price {
  background-color: pink;
  /* border-radius: 1rem; */
  padding: 0 1rem;
  font-size: 1.5rem;
  color: rgb(250, 11, 143);
  font-weight: bold;

}
.ingredients{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}